@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=Open+Sans:wght@400;700&display=swap");

:root {
  --ff-primary: "Open Sans", sans-serif;
  --ff-accent: "Boogaloo", cursive;
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: #f5f5f5;
  --clr-neutral-800: hsl(0, 0%, 33%);
  --clr-neutral-900: hsl(0, 0%, 19%);
  --clr-neutral-850: hsla(0, 0%, 19%, 25%);
  --clr-blue: hsl(217, 89%, 61%);
  --spacing: 1rem;
}

* {
  box-sizing: border-box;
  color: var(--clr-neutral-900);
  font-family: var(--ff-primary);
  margin: 0;
  padding: 0;
  /* border: 0.1rem solid silver; */
}

body {
  text-align: center;
  background-color: var(--clr-neutral-100);
}

.titleBar {
  font-family: var(--ff-accent);
  font-weight: bold;
  text-transform: uppercase;
  padding: 2rem;
  background-color: var(--clr-blue);
  color: var(--clr-neutral-200);
  font-size: clamp(2rem, 3rem, 4rem);
}

.gameContainer {
  background-color: var(--clr-neutral-100);
  padding: 2rem;
}

.buttonContainer {
  border-radius: 0.5rem;
  gap: max(0.5rem, 5vw);
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  padding: 1rem;
  width: min(15rem, 35vw);
  border-radius: 0.5rem;
  display: flex;
  border: 0;
  background-color: var(--clr-neutral-100);
  flex-wrap: wrap;
}

button > img {
  width: 100%;
  padding: 1rem;
}

.notSelected {
  opacity: 0.1;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}

.gameResult {
  margin: auto;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.bottomContainer {
  /* background-color: var(--clr-blue); */
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  max-width: 44rem;
  margin: 2rem auto;
  padding: 0 2rem;
  gap: 2rem;
}

.scoreBoard {
  margin-inline: auto;
  background-color: var(--clr-neutral-800);
  display: flex;
  flex-wrap: wrap;
  max-width: 18.75rem;
  flex-direction: column;
  margin: 1rem auto;
}

.scoreBoardTitle {
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  font-family: var(--ff-accent);
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 0.5rem;
  margin: 0;
}

.scoresContainer {
  display: flex;
  flex-wrap: wrap;
}

.scoreContainer {
  font-size: 1.25rem;
  color: var(--clr-neutral-100);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  margin-inline: auto;
}

.score {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0.5rem;
  color: var(--clr-neutral-100);
  width: 5rem;
}

.playerContainer {
  background-color: var(--clr-blue);
}

.computerContainer {
  background-color: var(--clr-neutral-200);
  color: var(--clr-neutral-900);
}

.directionContainer {
  flex: 1;
  background-color: var(--clr-neutral-100);
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instructions {
  padding: 2rem;
  text-align: left;
  min-width: 32ch;
}

.gameResultContainer {
  background-color: var(--clr-neutral-200);
}

.dropShadow {
  filter: drop-shadow(3px 2px 4px var(--clr-neutral-850));
}

.rounded {
  border-radius: 0.5rem;
}
