@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=Open+Sans:wght@400;700&display=swap");

:root {
  --ff-primary: "Open Sans", sans-serif;
  --ff-accent: "Boogaloo", cursive;
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: #f5f5f5;
  --clr-neutral-800: hsl(0, 0%, 33%);
  --clr-neutral-900: hsl(0, 0%, 19%);
  --clr-neutral-850: hsla(0, 0%, 19%, 25%);
  --clr-blue: hsl(217, 89%, 61%);
  --spacing: 1rem;
}

* {
  box-sizing: border-box;
  color: var(--clr-neutral-900);
  font-family: var(--ff-primary);
  margin: 0;
  padding: 0;
  /* border: 0.1rem solid silver; */
}

body {
  text-align: center;
  background-color: var(--clr-neutral-100);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.title-bar {
  font-family: var(--ff-accent);
  font-weight: bold;
  text-transform: uppercase;
  padding: 2rem;
  background-color: var(--clr-blue);
  color: var(--clr-neutral-200);
  font-size: clamp(2rem, 10vw, 7rem);
}

.game-container {
  background-color: var(--clr-neutral-100);
  padding: 1rem;
}

.button-container {
  border-radius: 0.5rem;
  gap: max(0.5rem, 5vw);
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  padding: 1rem;
  /* width: min(15rem, 35vw); */
  width: 15rem;
  border-radius: 0.5rem;
  display: flex;
  border: 0;
  background-color: var(--clr-neutral-100);
  flex-wrap: wrap;
}

button > img {
  width: 100%;
  padding: 1rem;
}

.notSelected {
  opacity: 0.1;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}

.game-results-container {
  background-color: var(--clr-neutral-200);
}

.game-result {
  margin: auto;
  padding: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.bottom-container {
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  max-width: 64rem;
  margin: 2rem auto;
  padding-inline: 2rem;
  gap: 2rem;
}

.scoreboard {
  margin-inline: auto;
  background-color: var(--clr-neutral-800);
  display: flex;
  flex-wrap: wrap;
  max-width: 18.75rem;
  flex-direction: column;
  /* margin: 1rem auto; */
}

.scoreboard-title {
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  font-family: var(--ff-accent);
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 0.5rem;
  margin: 0;
}

/* contains 2x score-container */
.scores-container {
  display: flex;
  flex-wrap: wrap;
}

/* contains score + label */
.score-container {
  font-size: 1.25rem;
  color: var(--clr-neutral-100);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  margin-inline: auto;
}

/* numerical score  */
.score {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0.5rem;
  color: var(--clr-neutral-100);
  width: 5rem;
}

.player-score {
  background-color: var(--clr-blue);
}

.computer-score {
  background-color: var(--clr-neutral-200);
  color: var(--clr-neutral-900);
}

.directions-container {
  flex: 1;
  background-color: var(--clr-neutral-100);
  display: flex;
  justify-content: center;
  align-items: center;
}

.instructions {
  padding: 1.5rem;
  text-align: left;
  min-width: 24ch;
}

.footer-container {
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-200);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container > img {
  width: 2rem;
}

@media (max-width: 53rem) {
  .button-container {
    gap: 1rem;
    margin: 1rem auto;
  }
  .title-bar {
    padding: 1rem;
  }
  .game-container {
    padding: 0;
  }
  .game-result {
    padding: 1rem;
  }
  button {
    width: max(10rem, 25vw);
  }
  .bottom-container {
    gap: 1rem;
    margin: 1rem auto;
    flex-direction: column;
  }
}

@media (max-width: 40rem) {
  .scoreboard-title {
    font-size: 1.5rem;
  }
  .score {
    font-size: 2rem;
    padding: 0.25rem;
  }
  .score-container {
    font-size: 1rem;
    gap: 0.25rem;
    padding: 0.5rem;
  }
}

.drop-shadow {
  filter: drop-shadow(3px 2px 4px var(--clr-neutral-850));
}

.rounded {
  border-radius: 0.5rem;
}
